.gnb-nav {
  a {
    @include text-style(18, $primary-first);
    font-weight: 700;
  }
  .gnb-nav-list {
    @include flexbox(start);
    .gnb-nav-item {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
