.product-review {
  .review-list {
    .review-item {
      border-bottom: 1px solid $border;
    }
    .review-item:last-child {
      border: 0;
    }
  }
  .review-empty {
    padding: 36px 0;
    text-align: center;
    @include text-style(16, $dark);
    font-weight: 400;
    strong {
      color: $blue;
    }
  }
  @include responsive(T) {
    .review-empty {
      padding: 12px 0;
    }
  }
}
