.search-history {
  $close-button-size: 32px;
  &-header {
    margin-top: 20px;
    margin-bottom: 8px;
    @include flexbox(between);
    .title,
    button {
      @include text-style(13, $primary-second);
      font-weight: 400;
    }
  }
  &-content {
    .placeholder {
      @include flexbox(start);
      width: 100%;
      height: 44px;
      padding: 0 8px;

      @include text-style(16, $primary-third);
      font-weight: 400;
      margin-top: 8px;
    }
    .search-history-list {
      .search-history-item {
        position: relative;
        @include flexbox(between);
        .search-word {
          width: 100%;
          padding: 10px $close-button-size 10px 8px;
          @include text-style(16, $primary-first);
          font-weight: 400;
          text-align: left;
        }
        .delete-button {
          @include flexbox;
          position: absolute;
          top: 6px;
          right: 0;
          width: $close-button-size;
          height: $close-button-size;
          font-size: 16;
          color: $primary-third;
        }
      }
    }
  }
}
