.product-user-gallery {
  .gallery-card-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    img {
      @include pos-center;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .gallery-card {
    position: relative;
    border-radius: 4px;
  }
  .gallery-card-detail {
    height: 54px;
    padding: 0 16px;
    @include flexbox(start);
    background-color: rgba($black, 0.4);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    .avatar-32 {
      margin-right: 8px;
      flex-shrink: 0;
    }
    .user-name {
      @include truncate;

      @include text-style(16, $white);
      font-weight: 700;
      flex-grow: 1;
      padding-right: 4px;
    }
    .order {
      @include text-style(16, $white);
      font-weight: 400;
      flex-shrink: 0;
    }
  }
}
