.global-footer {
  margin-bottom: $order-cta-height;
  padding: 32px 0 40px 0;
  background-color: $background;
  &-title {
    @include text-style(13, $dark);
    font-weight: 700;
    .ic-chevron {
      display: inline-block;
      font-size: 12px;
      transform: rotate(-90deg);
    }
  }
  &-contact {
    @include text-style(24, $dark);
    font-weight: 700;
  }
  &-time {
    @include text-style(12, $primary-first);
    margin-bottom: 24px;
  }
  &-detail-list {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: $primary-second;
  }
  &-detail-item {
    @include flexbox(start);
    address {
      display: inline;
      font-style: normal;
    }
    dt::after {
      content: ':';
      margin: 0 2px;
    }
  }

  @include responsive(D) {
    margin-bottom: 0;
    &-title {
      @include text-style(14);
    }
    &-detail-list {
      @include flexbox(start);
    }

    &-detail-item {
      a:hover {
        opacity: 0.5;
      }
      &:not(:last-child)::after {
        content: '|';
        margin: 0 8px;
      }
    }
  }
}
