.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  .logo {
    @include pos-center;
    a {
      display: block;
    }
    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }
  .gnb-icon-button {
    @include flexbox;
    width: 32px;
    height: 32px;
    font-size: 24px;
    color: $primary-second;
    i {
    }
  }
  .gnb-menu-button {
    color: $blue;
  }

  .gnb-right {
    .button-group {
      @include flexbox(end);
    }
    .gnb-search-button {
      padding-right: 4px;
    }
  }
  .gnb-wrapper {
    height: 50px;
    @include flexbox(between);
  }
}
