.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  .logo {
    @include pos-center;
    a {
      display: block;
    }
    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }
  .gnb-icon-button {
    @include flexbox;
    width: 32px;
    height: 32px;
    font-size: 24px;
    color: $primary-second;
    i {
    }
  }
  .gnb-menu-button {
    color: $blue;
  }

  .gnb-right {
    .button-group {
      @include flexbox(end);
    }
    .gnb-search-button {
      padding-right: 4px;
    }
  }
  .gnb-wrapper {
    height: 80px;
    @include flexbox(between);
  }
  @include responsive(T) {
    // 768px 이상 !
    .logo {
      position: static;
      transform: none;
      margin-right: 32px;
      img {
        height: 24px;
      }
    }
    .gnb-left {
      @include flexbox(start);
    }
    .gnb-right {
      @include flexbox(end);
      .button-group {
        margin-right: 24px;
        .gnb-icon-button {
          margin-right: 8px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .btn-primary {
        width: 88px;
        i {
          margin-left: 4px;
        }
      }
    }
  }
  @include responsive(D) {
    .gnb-right {
      .input-group {
        width: 264px;
        margin-right: 24px;
      }
    }
  }
}
